/The Legend of Tinker II——Furnace core permanent combustion.jar
/The Legend of Tinker II——Furnace core permanent combustion.json
/usercache.json
/usernamecache.json
/servers.dat_old
/servers.dat
/rhino.local.properties
/patchouli_data.json
/Package.BakaCoreInfo
/options.txt
/observable_announce
/XaeroWaypoints_BACKUP240807/
/xaero/
/tlm_custom_pack/
/thingpacks/
/The Legend of Tinker II——Furnace core permanent combustion-natives/
/tconplanner/
/shaderpacks/
/screenshots/
/saves/
/resourcepacks/
/PCL/
/patchouli_books/
/modernfix/
/logs/
/local/
/ldlib/
/keybinding presets/
/crash-reports/
/backups/
/.vscode/
/.probe/
/.idea/
/config/ftbquests
xaero
/config/jei
/config/xaero*
*.txt
/*.log
/enigmatic_persistence.dat
/config/oculus.properties
/config/packetfixer.properties
/config/blockswap/known_states
/config/tweakerge.json
/config/immediatelyfast.json
/config/modernfix-mixins.properties
*.properties
*.jsonc
config/ad_astra-client.jsonc
config/ad_astra.jsonc
config/aether_redux_pack_config.json
config/attributefix.json
config/azurelib.json
config/chat_heads.json5
config/chloride-client.json
config/creeperoverhaul.jsonc
config/embeddium-options.json
config/ftbbackups2.json
config/immediatelyfast.json
config/modernfix-mixins.properties
config/nerb.yaml
config/sidebar_buttons.json
config/sodium-extra-options.json
config/structure_layout_optimizer.jsonc
config/konkrete/locals/de_de.local
config/konkrete/locals/en_us.local
config/konkrete/locals/pl_pl.local
config/konkrete/locals/pt_br.local
config/NoChatReports/NCR-Client.json
config/NoChatReports/NCR-Common.json
config/NoChatReports/NCR-Encryption.json
config/NoChatReports/NCR-ServerPreferences.json
config/NoChatReports/README.md
config/pneumaticcraft/MicromissileDefaults.cfg
config/pneumaticcraft/PneumaticArmorHUDLayout.cfg
config/pneumaticcraft/thirdparty.cfg
config/touhou_little_maid/sites/llm.json
config/touhou_little_maid/sites/stt.json
config/touhou_little_maid/sites/tts.json
config/cucumber-tags.json
config/pneumaticcraft/ArmorFeatureStatus.cfg
config/pneumaticcraft/ProgrammingPuzzleBlacklist.cfg
config/mafglib.json
config/tweakerge.json
config/brandon3055/contributors.json.etag
config/brandon3055/contributors.json
