/The Legend of Tinker II——Furnace core permanent combustion.jar
/The Legend of Tinker II——Furnace core permanent combustion.json
/usercache.json
/usernamecache.json
/servers.dat_old
/servers.dat
/rhino.local.properties
/patchouli_data.json
/Package.BakaCoreInfo
/options.txt
/observable_announce
/XaeroWaypoints_BACKUP240807/
/xaero/
/tlm_custom_pack/
/thingpacks/
/The Legend of Tinker II——Furnace core permanent combustion-natives/
/tconplanner/
/shaderpacks/
/screenshots/
/saves/
/resourcepacks/
/PCL/
/patchouli_books/
/modernfix/
/logs/
/local/
/ldlib/
/keybinding presets/
/crash-reports/
/backups/
/.vscode/
/.probe/
/.idea/
/config/
